body {
    background-color: red;
    color: white;
}

#tupian {
    background-image: url(../images/url.png);
    width: 318px;
    height: 435px;
}

#logo {
    background-image: url(../images/logo.png);
    width: 200px;
    height: 200px;
}